body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #fff;
}
.container{
  max-width: 70em;
  margin: 0 auto;
  padding: 2em;
  background-color: #000;
}
.slider{
  display: flex;
  width: 60em;
  overflow: hidden;
  border-radius: 2em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
}
.slider-img{
  width: 100%;
  display: block;
}
.dots-list{
  text-align: end;
  margin-right: 3em;
}
.dots-list__input{
  height: 0;
  width: 0;
  visibility: hidden;
}
.dots-list__item{
  display: inline-block;
  height: 0.9em;
  width: 0.9em;
  border: 0.2em solid #5a74bd;
  border-radius: 50%;
  background-color: #5a74bd;

}
.dots-list__input:checked ~ .dots-list__item{
  background-color: transparent;
  border-color: #fff;
}
.dots-list__label{
  padding: 0.3em;
  cursor: pointer;
}
.dots-list__item:hover{
  background-color: #fff;
  border: 0.2em solid #fff;
}
.dots-list__label + .dots-list__label{
  margin-left: 0.2em;
}
.slider-text{
  display: flex;
  margin-top: -1em;
}
.slider-text__item{
  font-size: 1.2em;
  min-width: 60%;
  margin: 0 40% 0 2em;
}
/*checked slider*/

/* animation slider */
